* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgb(51, 161, 55);
  height: 2.6rem;
}

#home {
  height: 23px;
  margin-left: 25px;
  margin-top: 8px;
  float: left;
}

#top-left {
  margin-top: 12px;
  padding-left: 15px;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  float: left;
  text-decoration: none;
  color: #fff;
}

#top-left-tool {
  margin-top: 12px;
  padding-left: 15px;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  float: left;
  text-decoration: none;
  color: #fff;
}

#top-left-more {
  margin-top: 12px;
  display: block;
  padding-left: 15px;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  float: left;
  text-decoration: none;
  color: #fff;
}

#dropdown-div-more {
  display: inline-block;
  cursor: pointer;
}

#dropdown-div-tools {
  display: inline-block;
  cursor: pointer;
}

#tools-dropdown {
  background-color: white;
  height: 173px;
  margin-top: 42px;
  width: 169px;
  position: absolute;
  left: 350px;
  border-radius: 5px;
  display: none;
}

#more-dropdown {
  background-color: white;
  height: 118px;
  margin-top: 42px;
  width: 143px;
  position: absolute;
  left: 435px;
  border-radius: 5px;
  display: none;
}

.show {
  display: block;
}

#tools-ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  padding-bottom: 12px;
  padding-top: 12px;
}

#more-ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  padding-bottom: 12px;
  padding-top: 12px;
}

.tools-list {
  display: flex;
  font-size: 14px;
  font-family: Lato, Helvetica, sans-serif;
  cursor: pointer;
  height: 31px;
  width: 167px;
  padding-left: 10px;
  padding-right: 10px;
}

.more-list {
  display: flex;
  font-size: 14px;
  font-family: Lato, Helvetica, sans-serif;
  cursor: pointer;
  height: 31px;
  width: 167px;
  padding-left: 10px;
  padding-right: 10px;
}

.tools-list:hover {
  text-decoration: underline;
}

.more-list:hover {
  text-decoration: underline;
}

#user {
  float: right;
  padding-right: 3rem;
  padding-top: 5px;
}

#user img {
  height: 28px;
}

#settings {
  float: right;
  margin-right: 10px;
  margin-top: 4px;
  position: relative;
  display: inline block;
}

#settings-icon {
  height: 32px;
  overflow: hidden;
  position: relative;
  display: inline block;
}

#btn-settings {
  background: transparent;
  border: none;
  cursor: pointer;
}

#flag-div {
  float: right;
  margin-right: 18px;
  margin-top: 7px;
}

#flag-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

#flag-img {
  height: 23px;
}

#urdu {
  float: right;
  margin-right: 22px;
  margin-top: 5px;
}

#urdu-icon {
  height: 30px;
}

#add-property {
  float: right;
  background-color: #fff;
  border-radius: 4px;
  width: 7rem;
  height: 1.6rem;
  margin-right: 20px;
  margin-top: 10px;
  display: flex;
}

#property-link {
  text-decoration: none;
  display: flex;
}

#plus {
  color: black;
  font-weight: bolder;
  padding-left: 9px;
  box-sizing: unset;
  margin-bottom: 0px;
  width: 10px;
}

#property {
  color: black;
  font-size: 12px;
  padding-top: 5px;
  padding-left: 12px;
  margin-bottom: 0px;
  font-family: Lato, Helvetica, sans-serif;
}

#search-div {
  float: right;
  margin-right: 20px;
  margin-top: 8px;
}

#search-bar {
  background-color: transparent;
  border-color: #fff;
  width: 7rem;
  height: 21px;
  border-radius: 4px;
  box-sizing: unset;
}

#search-div input::placeholder {
  color: white;
  padding-left: 10px;
  font-size: 12px;
  float: left;
  padding-top: 3px;
}

.header-2 {
  background-color: #f7f7f7;
  height: 2.5rem;
}

#zameen-logo {
  float: left;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 2px;
  margin-left: 30px;
  margin-right: 0;
}

#second-header {
  margin-left: 13.4rem;
}

.second-left {
  margin-top: 12px;
  padding-left: 27px;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 14px;
  float: left;
  text-decoration: none;
  color: gray;
  font-size: 13px;
}

#title {
  color: #f7f7f7;
  text-align: center;
  padding-top: 135px;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 11px;
}

#h1-title {
  text-shadow: 1.5px 1px black;
  font-size: 23px;
  font-family: Lato, Helvetica, sans-serif;
  font-weight: 30px;
}

#bg-img {
  background-image: url("Background.jpg");
  background-repeat: no-repeat;
  width: 80rem;
  height: 33rem;
  background-size: 100%;
}

#buy {
  margin-left: 28.5rem;
  margin-top: 1.5rem;
}

#buy-link {
  width: 7rem;
  font-family: Lato, Helvetica, sans-serif;
  height: 38px;
  padding-top: 10px;
  text-align: center;
  background-color: #f7f7f7;
  border-radius: 2px;
  color: black;
  text-decoration: none;
  position: absolute;
  font-size: 14px;
  color: rgb(68, 68, 68);
  font-weight: 700;
}

#rent {
  margin-left: 37rem;
  margin-top: 1.5rem;
}

#rent-link {
  width: 7rem;
  font-family: Lato, Helvetica, sans-serif;
  height: 38px;
  padding-top: 10px;
  text-align: center;
  background-color: rgba(86, 90, 92, 0.5);
  border-radius: 2px;
  border: 1px;
  border-style: solid;
  border-color: white;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  position: absolute;
}

#projects {
  margin-left: 45.6rem;
  margin-top: 1.5rem;
}

#projects-link {
  width: 7rem;
  font-family: Lato, Helvetica, sans-serif;
  height: 38px;
  padding-top: 10px;
  text-align: center;
  background-color: rgba(86, 90, 92, 0.5);
  border-radius: 2px;
  border: 1px;
  border-style: solid;
  border-color: white;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  position: absolute;
}

#find-bar {
  background-color: rgb(34, 34, 34);
  width: 43.5rem;
  height: 95px;
  margin-left: 18rem;
  margin-top: 80px;
}

#city-div {
  background-color: #ffffff;
  float: left;
  width: 9.7rem;
  height: 3rem;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 1.5px;
}

#city-label {
  color: #767676;
  font-size: 10px;
  font-family: Lato, Helvetica, sans-serif;
  margin-left: 8px;
  margin-top: 8px;
  float: left;
  font-weight: bold;
}

.city-dropdown {
  margin-left: 4px;
}

.select-menu {
  border-color: transparent;
  width: 9rem;
  cursor: pointer;
  font-size: 14px;
  box-sizing: unset;
  size: 14px;
}

.select-menu:focus {
  outline: none;
}

#location-div {
  background-color: #ffffff;
  float: left;
  width: 22.7rem;
  height: 3rem;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 1.5px;
}

#location-label {
  color: #767676;
  font-size: 10px;
  font-family: Lato, Helvetica, sans-serif;
  margin-left: 8px;
  margin-top: 8px;
  float: left;
  font-weight: bold;
}

#location-input {
  margin-top: 2px;
  margin-left: 8px;
  width: 21rem;
  border-color: transparent;
  height: 20px;
}

#location-input:focus {
  outline: none;
}

#find-div {
  background-color: #33a137;
  float: left;
  width: 8.5rem;
  height: 3rem;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 1.5px;
}

#find-div:hover {
  background-color: #109114;
}

#find-a {
  text-decoration: none;
  color: #fff;
  font-family: Lato, Helvetica, sans-serif;
  display: inline-block;
  text-align: center;
  padding: 17px 3.2rem;
  font-size: 13px;
}

#options-div {
  width: 6.8rem;
  height: 5px;
}

#options-link {
  color: #cccccc;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 13px;
  margin-left: 8px;
  margin-top: 10px;
  float: left;
  cursor: pointer;
}

.arrow-down {
  border: solid #cccccc;
  border-width: 0 3px 3px 0;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 11px;
  margin-top: 13px;
  float: left;
  cursor: pointer;
}

#currency-div {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  width: 7rem;
  height: 1.1rem;
  border-left: 1px solid white;
}

#currency-btn {
  background: transparent;
  color: #0792ea;
  border: none;
  padding-left: 7px;
  font-size: 12px;
  cursor: pointer;
  float: left;
}

#area-div {
  float: left;
  margin-top: 10px;
  width: 7rem;
  height: 1.1rem;
  border-left: 1px solid white;
}

#area-btn {
  background: transparent;
  color: #0792ea;
  border: none;
  padding-left: 7px;
  font-size: 12px;
  cursor: pointer;
  float: left;
}

#reset-div {
  float: left;
  margin-top: 10px;
  width: 7rem;
  height: 1.1rem;
  border-left: 1px solid white;
}

#reset-btn {
  background: transparent;
  color: #0792ea;
  border: none;
  padding-left: 7px;
  font-size: 12px;
  cursor: pointer;
  float: left;
}

#browse {
  margin-top: 4.6rem;
}

#browse-h3 {
  font-size: 22px;
  color: rgb(34, 34, 34);
  font-family: Lato, Helvetica, sans-serif;
  font-weight: 700;
  margin-left: 2.5rem;
  margin-bottom: 5px;
}

#properties-div {
  float: left;
}

#home-box {
  float: left;
  width: 23.7rem;
  height: 19rem;
  margin-left: 2.7rem;
  margin-top: 18px;
  margin-bottom: 2rem;
  border-radius: 13px;
  border: 0.2px solid lightgray;
}

#home-box-img {
  float: left;
  margin-left: 20px;
  margin-top: 15px;
  width: 38px;
  height: 42px;
}

#home-box-title {
  float: left;
  margin-left: 1.2rem;
  margin-top: 25px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(31, 31, 31);
  font-family: Lato, Helvetica, sans-serif;
}

#home-box-option {
  margin-top: 75px;
  margin-bottom: 24px;
  height: 35.8px;
  border-bottom: 1px solid lightgray;
}

#home-box-popular {
  float: left;
  margin-left: 25px;
  font-family: Lato, Helvetica, sans-serif;
  color: #00a651;
  font-size: 16px;
  font-weight: 700;
  padding-left: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #00a651;
}

#home-box-type {
  float: left;
  font-family: Lato, Helvetica, sans-serif;
  color: #919699;
  font-size: 16px;
  font-weight: 700;
  padding-left: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
}

#home-box-area-size {
  float: left;
  font-family: Lato, Helvetica, sans-serif;
  color: #919699;
  padding-left: 16px;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 16px;
  padding-right: 16px;
}

#before-home-box-marla {
  display: flex;
}

#home-box-marla {
  height: 8rem;
  margin-left: 16px;
}

#home-box-marla-link {
  margin-left: 5px;
  margin-right: 3px;
  border: 1px solid lightgray;
  border-radius: 8px;
  height: 60px;
  width: 106px;
  float: left;
}

#btn-right {
  width: 29px;
  height: 29px;
  display: block;
  margin-left: 349px;
  margin-top: 50px;
  margin-right: 0px;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  border-color: rgb(0, 0, 0);
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  position: absolute;
}

#btn-left {
  width: 29px;
  height: 29px;
  display: block;
  margin-top: 50px;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  border-color: rgb(0, 0, 0);
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  position: absolute;
}

#arrow-left-svg {
  transform: rotate(180deg);
}

#arrow-right-path {
  fill: rgb(0, 166, 81);
}

#arrow-left-path {
  fill: rgb(0, 166, 81);
}

#prev-btn {
  position: absolute;
  top: 0;
  display: flex;
  background: 0 0;
  border: 0;
  margin-top: 48px;
  z-index: 1000;
  opacity: 0;
}

#next-btn {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  background: 0 0;
  border: 0;
  margin-top: 48px;
  z-index: 1000;
  opacity: 0;
}

#prev-btn-2 {
  position: absolute;
  top: 0;
  display: flex;
  background: 0 0;
  border: 0;
  margin-top: 48px;
  z-index: 1000;
  opacity: 0;
}

#next-btn-2 {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  background: 0 0;
  border: 0;
  margin-top: 48px;
  z-index: 1000;
  opacity: 0;
}

#prev-btn-3 {
  position: absolute;
  top: 0;
  display: flex;
  background: 0 0;
  border: 0;
  margin-top: 93px;
  margin-left: 55px;
  z-index: 1000;
  opacity: 0;
}

#next-btn-3 {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  background: 0 0;
  border: 0;
  margin-top: 93px;
  margin-right: 38px;
  z-index: 1000;
  opacity: 0;
}

#prev-btn-4 {
  position: absolute;
  top: 0;
  display: flex;
  background: 0 0;
  border: 0;
  margin-top: 166px;
  margin-left: 6px;
  z-index: 1000;
  opacity: 0;
}

#next-btn-4 {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  background: 0 0;
  border: 0;
  margin-top: 166px;
  margin-right: 7px;
  z-index: 1000;
  opacity: 0;
}

#home-box-marla-5 {
  text-align: center;
  padding-top: 12px;
  font-size: 13px;
  color: rgb(31, 31, 31);
  font-weight: 550;
  margin-bottom: 0px;
  height: 25px;
  font-family: Lato, Helvetica, sans-serif;
}

#home-box-marla-5-label {
  padding-left: 30px;
  font-size: 13px;
  color: #707070;
  font-family: Lato, Helvetica, sans-serif;
}

#home-box-marla-5-label-flats {
  padding-left: 35px;
  font-size: 13px;
  color: #707070;
  font-family: Lato, Helvetica, sans-serif;
}

#home-box-all-homes-label {
  padding-left: 23px;
  font-size: 13px;
  color: #707070;
  font-family: Lato, Helvetica, sans-serif;
}

#home-box-new-link {
  margin-left: 5px;
  margin-right: 3px;
  margin-top: 7px;
  border: 1px solid lightgray;
  border-radius: 8px;
  height: 60px;
  width: 106px;
  float: left;
}

#plots-box {
  float: left;
  width: 23.7rem;
  height: 19rem;
  margin-left: 1.2rem;
  margin-top: 18px;
  margin-bottom: 2rem;
  border-radius: 13px;
  border: 0.2px solid lightgray;
}

#plots-box-r-p {
  padding-left: 4px;
  font-size: 13px;
  color: #707070;
  font-family: Lato, Helvetica, sans-serif;
}

#plots-box-c-p {
  padding-left: 2px;
  font-size: 13px;
  color: #707070;
  font-family: Lato, Helvetica, sans-serif;
}

#home-box-possession {
  text-align: center;
  padding-top: 12px;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0px;
  font-family: Lato, Helvetica, sans-serif;
  height: 25px;
}

#commercial-box {
  float: left;
  width: 23.7rem;
  height: 19rem;
  margin-left: 1.2rem;
  margin-top: 18px;
  margin-bottom: 2rem;
  border-radius: 13px;
  border: 0.2px solid lightgray;
}

#commercial-box-label {
  padding-left: 35px;
  font-size: 13px;
  color: #707070;
  font-family: Lato, Helvetica, sans-serif;
}

#explore {
  margin-top: 25.5rem;
  height: 2rem;
}

#explore-h3 {
  font-size: 21px;
  font-family: Lato, Helvetica, sans-serif;
  font-weight: 700;
  margin-left: 5.8rem;
}

#explore-box {
  height: 10rem;
  margin-left: 90px;
  margin-top: 20px;
  display: flex;
}

#box-1 {
  display: flex;
  cursor: pointer;
  height: 6rem;
  width: 20rem;
}

#box-2 {
  display: flex;
  cursor: pointer;
  height: 6rem;
  width: 20rem;
}

#box-3 {
  display: flex;
  cursor: pointer;
  height: 6rem;
  width: 20rem;
}

#box-4 {
  display: flex;
  cursor: pointer;
  height: 6rem;
  width: 20rem;
}

#box-5 {
  display: flex;
  cursor: pointer;
  height: 6rem;
  width: 20rem;
}

#box-6 {
  display: flex;
  cursor: pointer;
  height: 6rem;
  width: 20rem;
}

#box-7 {
  display: flex;
  cursor: pointer;
  height: 6rem;
  width: 20rem;
}

#box-8 {
  display: flex;
  cursor: pointer;
  height: 6rem;
  width: 20rem;
}

#explore-div1-img {
  background-color: #fdf8ee;
  width: 92px;
  height: 92px;
  border-radius: 10px;
  border: 2px solid #fdf8ee;
  cursor: pointer;
}

#box-1:hover #explore-div1-img {
  border: 2px solid #f5ca71;
}

#projects-img {
  width: 42px;
  height: 42px;
  position: absolute;
  padding-left: 25px;
  padding-top: 20px;
  box-sizing: unset;
}

#projects-t1 {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 510;
  height: 54px;
  width: 100px;
  margin-left: 25px;
  line-height: 25px;
  cursor: pointer;
}

#box-1:hover #projects-title #projects-t1 {
  color: #f5ca71;
}

#projects-t2 {
  color: rgb(163, 163, 163);
  font-family: Lato, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 18px;
  width: 139px;
  height: 42px;
  font-size: 14px;
  margin-left: 25px;
}

#construction-img {
  width: 82px;
  height: 82px;
  position: absolute;
  padding-left: 2px;
  box-sizing: unset;
}

#construction-div1-img {
  background-color: #f1f9fe;
  width: 92px;
  height: 92px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #f1f9fe;
}

#box-2:hover #construction-div1-img {
  border: 2px solid #8dcdf5;
}

#construction-t1 {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 510;
  height: 54px;
  width: 125px;
  margin-left: 25px;
  line-height: 25px;
  cursor: pointer;
}

#box-2:hover #projects-title-2 #construction-t1 {
  color: #8dcdf5;
}

#home-loan-img {
  width: 42px;
  height: 42px;
  position: absolute;
  padding-left: 25px;
  padding-top: 20px;
  box-sizing: unset;
}

#home-loan-div1-img {
  background-color: #f4f9f7;
  width: 92px;
  height: 92px;
  border-radius: 10px;
  border: 2px solid #f4f9f7;
  cursor: pointer;
}

#box-3:hover #home-loan-div1-img {
  border: 2px solid #75c19a;
}

#home-loan-t1 {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 510;
  height: 54px;
  width: 125px;
  margin-left: 25px;
  line-height: 25px;
  cursor: pointer;
}

#box-3:hover #projects-title-3 #home-loan-t1 {
  color: #75c19a;
}

#area-div1-img {
  background-color: #fef7f7;
  border: 2px solid #fef7f7;
  width: 92px;
  height: 92px;
  border-radius: 10px;
  cursor: pointer;
}

#box-4:hover #area-div1-img {
  border: 2px solid #fab0a2;
}

#area-t1 {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 510;
  height: 54px;
  width: 60px;
  margin-left: 25px;
  line-height: 25px;
  cursor: pointer;
}

#box-4:hover #projects-title-4 #area-t1 {
  color: #fab0a2;
}

#explore-box-2 {
  height: 10rem;
  margin-left: 90px;
  display: flex;
}

#plot-div1-img {
  background-color: #f6faf9;
  border: 2px solid #f6faf9;
  width: 92px;
  height: 92px;
  border-radius: 10px;
  cursor: pointer;
}

#box-5:hover #plot-div1-img {
  border: 2px solid #7ed8aa;
}

#plot-t1 {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 510;
  height: 54px;
  width: 40px;
  margin-left: 25px;
  line-height: 25px;
  cursor: pointer;
}

#box-5:hover #projects-title-5 #plot-t1 {
  color: #7ed8aa;
}

#property-div1-img {
  background-color: #f5f7ff;
  border: 2px solid #f5f7ff;
  width: 92px;
  height: 92px;
  border-radius: 10px;
  cursor: pointer;
}

#box-6:hover #property-div1-img {
  border: 2px solid #6d7fbe;
}

#property-t1 {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 510;
  height: 54px;
  width: 40px;
  margin-left: 25px;
  line-height: 25px;
  cursor: pointer;
}

#box-6:hover #projects-title-6 #property-t1 {
  color: #6d7fbe;
}

#unit-div1-img {
  background-color: #ecf8f7;
  border: 2px solid #ecf8f7;
  width: 92px;
  height: 92px;
  border-radius: 10px;
  cursor: pointer;
}

#box-7:hover #unit-div1-img {
  border: 2px solid #7ad0c9;
}

#unit-t1 {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 510;
  height: 54px;
  width: 125px;
  margin-left: 25px;
  line-height: 25px;
  cursor: pointer;
}

#box-7:hover #projects-title-7 #unit-t1 {
  color: #7ad0c9;
}

#trends-div1-img {
  background-color: #f9f5ff;
  border: 2px solid #f9f5ff;
  width: 92px;
  height: 92px;
  border-radius: 10px;
  cursor: pointer;
}

#box-8:hover #trends-div1-img {
  border: 2px solid #8775ad;
}

#property-t1 {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 510;
  height: 54px;
  width: 60px;
  margin-left: 25px;
  line-height: 25px;
  cursor: pointer;
}

#box-8:hover #projects-title-8 #property-t1 {
  color: #8775ad;
}

#titanium {
  margin-top: 0.5rem;
  height: 2rem;
}

#titanium-h3 {
  font-size: 24px;
  font-family: Lato, Helvetica, sans-serif;
  font-weight: 700;
  margin-left: 5.5rem;
}

#full-titanium {
  width: 1240px;
  height: 196px;
}

#circle-arrow {
  height: 50px;
  width: 50px;
  position: absolute;
  margin-top: 85px;
  margin-left: 47px;
  transform: rotate(180deg);
}

#circle-arrow-2 {
  height: 50px;
  width: 50px;
  position: absolute;
  margin-top: 85px;
  margin-left: 1160px;
}

#titanium-div {
  margin-top: 25px;
  margin-left: 5rem;
  display: flex;
}

#titanium-box-1 {
  display: flex;
  margin-right: 85px;
}

#titanium-box-1-1 {
  display: flex;
  margin-right: 85px;
  width: 250px;
}

#sultan-img {
  height: 75px;
  width: 75px;
  border-radius: 2px;
}

#sultan-div {
  margin-left: 10px;
  margin-top: 18px;
}

#sultan-t1 {
  font-size: 16px;
  font-family: Lato, Helvetica, sans-serif;
  font-weight: 500;
}

#sultan-loc-img {
  width: 20x;
  height: 30px;
  float: left;
}

#sultan-t2 {
  font-size: 14px;
  font-family: Lato, Helvetica, sans-serif;
  color: #707070;
  margin-left: 22px;
  margin-top: 8px;
}

#titanium-div-2 {
  margin-top: 25px;
  margin-left: 5rem;
  display: flex;
}

#provider-div {
  margin-left: 10px;
  margin-top: 18px;
  width: 11.5rem;
}

#provider-box-1 {
  display: flex;
}

#ahmer-box-1 {
  display: flex;
  margin-left: 5px;
}

#ahmer-div {
  margin-left: 10px;
  margin-top: 18px;
  width: 11rem;
}

#titanium-div-2 {
  margin-top: 25px;
  margin-left: 5rem;
  display: flex;
  margin-bottom: 20px;
}

#zameen-projects {
  background-image: linear-gradient(180deg, #e5f0fc, #fff);
  margin-top: 72px;
  margin-bottom: 72px;
  margin-left: 80px;
  margin-right: 80px;
  padding-right: 20px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-radius: 20px;
}

#projects-title-div {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  height: 40px;
}

#title-h3 {
  font-size: 24px;
  font-family: Lato, Helvetica, sans-serif;
  margin-top: 5px;
  margin-left: 15px;
}

#trending-img {
  margin-left: 20px;
  height: 35px;
  width: 120px;
}

#view-h4 {
  margin-left: 38rem;
  margin-right: 10px;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 16px;
  color: #0793ea;
  font-weight: lighter;
}

#view-arrow {
  fill: #0793ea;
  margin-top: 3px;
}

#inner-2 {
  display: flex;
  width: 1100px;
}

#project-1-div {
  margin-top: 25px;
  display: flex;
}

#project-div-arrow {
  height: 50px;
  width: 50px;
  margin-top: 160px;
  float: right;
}

#project-div-arrow-left {
  height: 50px;
  width: 50px;
  margin-top: 160px;
  transform: rotate(180deg);
  float: left;
}

#project-1 {
  width: 19rem;
  cursor: pointer;
  margin-left: 20px;
}

#popular-h3 {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
  padding-left: 40px;
}

#sale-rent {
  width: 67rem;
  height: 40px;
  margin-left: 90px;
  border-bottom: 1px solid lightgray;
  display: flex;
}

#sale-div {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: bold;
  color: #00a651;
  padding-left: 12px;
  padding-right: 10px;
  width: 77px;
  height: 35px;
  border-bottom: 4px solid #00a651;
  box-sizing: unset;
}

#rent-div {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: bold;
  padding-left: 12px;
  padding-right: 10px;
  width: 77px;
  height: 35px;
  box-sizing: unset;
}

#plots-div {
  margin-top: 2rem;
  margin-left: 90px;
  margin-bottom: 20px;
  font-size: 19px;
  font-weight: 700;
  font-family: Lato, Helvetica, sans-serif;
  color: rgb(68, 68, 68);
}

#cities {
  display: flex;
  margin-left: 90px;
  height: 20px;
  margin-bottom: 20px;
}

#lahore-div {
  padding-right: 303px;
}

#lahore {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: rgb(68, 68, 68);
}

#items {
  display: flex;
  margin-left: 90px;
  padding-left: 0px;
}

#items-div {
  margin-right: 65px;
}

#list {
  list-style-type: none;
  padding-left: 0px;
}

#one-line {
  display: flex;
}

#items-arrow {
  width: 13px;
  height: 13px;
}

#items-h3 {
  margin-left: 10px;
  margin-bottom: 20px;
  font-family: Lato, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(68, 68, 68);
  font-weight: 16;
}

#items-div-2 {
  margin-right: 47px;
}

#items-div-3 {
  margin-left: 12px;
  margin-right: 18px;
}

#zameen-banner {
  width: 79.1rem;
  height: 15rem;
  display: block;
}

#partners-div {
  background-color: rgb(240, 240, 240);
  height: 160px;
  margin-top: 0px;
}

#partners-h3 {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: 700;
  padding-top: 30px;
  padding-left: 85px;
}

#partners-img {
  width: 16rem;
  padding-top: 20px;
  padding-left: 85px;
  box-sizing: unset;
}

#last-bar {
  background-color: #1f1f1f;
  width: 1264.67px;
  height: 377px;
  padding-top: 20px;
  display: block;
}

#all-bar {
  height: 270.583px;
  width: 1100px;
  display: flex;
  margin-left: 80px;
}

#last-1 {
  padding-top: 20px;
  width: 270px;
  height: 230px;
  display: flex;
  flex-direction: column;
}

#last-h3 {
  color: rgb(189, 189, 189);
  font-family: Lato, Helvetica, sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}

#last-link {
  margin-bottom: 10px;
  color: rgb(189, 189, 189);
  font-family: Lato, Helvetica, sans-serif;
  font-size: 14px;
}

#last-div-1 {
  display: flex;
}

#last-img {
  width: 30px;
  height: 30px;
}

#last-img-2 {
  width: 20px;
  height: 20px;
}

#last-img-3 {
  width: 18px;
  height: 18px;
  margin-top: 5px;
}

#last-link-2 {
  margin-bottom: 10px;
  margin-left: 18px;
  margin-top: 7px;
  color: rgb(189, 189, 189);
  font-family: Lato, Helvetica, sans-serif;
  font-size: 14px;
}

#last-link-3 {
  margin-bottom: 10px;
  margin-left: 40px;
  line-height: 17px;
  color: rgb(189, 189, 189);
  font-family: Lato, Helvetica, sans-serif;
  font-size: 14px;
}

#roshan-img {
  width: 110px;
  height: 50px;
}

#connect-h4 {
  color: rgb(189, 189, 189);
  font-family: Lato, Helvetica, sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#social {
  width: 120px;
  height: 100px;
}

#final {
  height: 25px;
  width: 500px;
  margin-left: 80px;
}

#final-div-1 {
  height: 32px;
  width: 400px;
}

#final-div-h4 {
  color: #707070;
  font-size: 14px;
  font-family: Lato, Helvetica, sans-serif;
}

#last-arrow {
  float: right;
  width: 35px;
  height: 35px;
  margin-right: 80px;
}

#last-h5 {
  float: right;
  color: #ffffff;
  font-size: 12px;
  font-family: Lato, Helvetica, sans-serif;
  margin-right: 7px;
  margin-top: 15px;
}
